/*-- scss:defaults --*/
@import 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,700';

#quarto-content {
  background-color: #ffffff;
  font-family: 'DM Sans', sans-serif !important;
  color: #1f1f1f;
}
